.logobem {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: $alt-text-color;
  text-decoration: none;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $accent-text-color;
}

.logobem--top {
  padding: 16px 0;
}
.logobem--blackpart {
  color: #000000;
}

.logobem--whitepart {
  color: #ffffff;
}

@media screen and (min-width: $desktop-size) {
  .logobem {
    font-size: 26px;
  }

  .logobem--top {
    padding: 24px 0 25px;
  }
}
