$font-family: Roboto, Arial, Helvetica, sans-serif;
$galery-gap: 30px;
$primary-text-color: #757575;
$alt-text-color: #212121;
$accent-text-color: #2196f3;
$accent-touch-color: #188ce8;
$body-bgc: #ffffff;
$body-out-bgc: #e5e5e5;
$alt-section-bgc: #f5f4fa;
$footer-bgc: #2f303a;
$transition-duration: 250ms;
$mobile-size: 480px;
$tablet-size: 768px;
$desktop-size: 1200px;
